@media all and (max-width:720px) {

.header__nav {
    position: fixed;
    top: 60px;
    left: 0%;
    list-style: none;
    z-index: 1000;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

    .header__nav-list {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 50px;
    background: #92B4EC;
    width: 320px;
    padding: 0px 30px 50px;

    a {
      font-size: 40px;
    }
  }


  
input[id=trigger]:checked ~  nav.header__nav {
    transform: translateX(0);
    left:0
  }


/* 체크박스 */

.header__three-col {
  display: block;
}

input[id=trigger] {
display: none; 
}

label[for=trigger] {
  display: block;
  width: 25px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

label[for=trigger] span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background: #FFD24C;
  transition: 0.3s;
}

label[for=trigger] span:nth-child(1) {
  top: 0;
}

label[for=trigger] span:nth-child(2) {
  top: 50%;
}

label[for=trigger] span:nth-child(3) {
  top: 100%;
}

/* 체크박스 선택 시 */

input[id=trigger]:checked + label[for=trigger] span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(2) {
  display: none;
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}




  .home__text-parent {
    font-size: 60px;
    padding-right: 0px;
  }

  .home__text-sub {
    font-size: 100px;
    line-height: 130px;
  }

  .font {
    font-size: 60px;
  }


  .profile__details {
    align-items: center;
    flex-direction: column;
    padding: 46px 0 0px 0px;
  }

  .profile__skills-box {
    margin-top: 55px;
  }

  .profile__skills-box-details {
    height: 158px;
    padding: 12px;
    font-size: 15px;
  }

  .profile__skills-box-details .profile__skills-box-description {
    font-size: 18px;
  }

  .profile__skills {
    width: 100%
  }

  .profile__skills-section {
    width: 100%;
  }


  .profile__intro {
    align-items: center;
  }

  .profile__intro-text {
    font-size: 25px;
    width: 375px;
  }

  .profile__box .profile__intro-image {
    width: 350px;
    height: 450px;
    margin-top: 40px;
    align-items: center;
  }

  .profile__box {
    .profile__intro-text {

      font-size: 20px
    }
  }

  .fa-circle-check:before {
    font-size: 35px;
    margin-right: 12px;
  }



  .project__header {
    padding-top: 100px;
  }

  .project__content {
    height: 830px;
  }

  .project__items {
    flex-direction: column;
  }

  .project__item {
    width: 100%;
  }

  .project__items .project__item--details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 65px 10px;
    align-items: center;
  }

  .project__actions {
    width: 100%;
    justify-content: center;
    right: 0;
  }


  .popup__close {
    top: 53%;
    left: 91%;
  }

  .popup__content {
    flex-direction: column;
  }

  .popup__slides {
    height: 50%;
    width: 100%;
  }

  .popup__details {
    height: 50%;
    width: 100%;
  }

  .popup .popup__swiper-button-next {
    top: 26%;
    left: 90%;
  }

  .popup .popup__swiper-button-prev {
    top: 26%;
    left: 5%;
  }

  .popup__details {
    font-size: 12px;
  }

  .resume__container .resume__content {
    flex-direction: column;
    padding-top: 0;

    div {
      width: 100%;
    }
  }

  .resume__subtitle {
    width: 80%;
  }

  .resume__skills {
    width: 100%;
    margin-left: -59px;
  }

  .resume__details {
    padding-top: 0;
  }

  .exp_padding {
    padding-right: 70px;
  }



  .resume__container h1 {
    font-size: 3.8rem;
    padding: 36px;
  }


  .contact__message {
    span {
      font-size: 28px;
    }
  }


}