* {
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: #fff;
}


li,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.point_font {
    font-family: "Caveat Brush";
    background: linear-gradient(to top, #ffe680 45%, transpasnt 20%);
    width: 100%;
    font-size: 4.25rem;
    letter-spacing: -0.02em;
    color: #92b4ec;
}


@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


input[id=trigger] {
    display: none;
}

:root {
    --bg-color: white;

}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    position: fixed;
    background-color: var(--bg-color);
    z-index: 1000;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;

    a {
        color: #FFD24C;
    }
}


header.hidden {
    opacity: 0;
    transform: translateY(-100%);

}



.header__nav-list {
    display: flex;
}

.header__nav {
    width: 100%;
}

.header__menu-link {
    font-family: 'Caveat Brush';
    font-size: 1.563rem;
    letter-spacing: -0.02em;
    margin-right: 55px;
    transition: all 0.3s;
}

.header__top-btn {
    width: 50px;
    height: 49px;
    border-radius: 50%;
    font-weight: 900;
    text-align: center;
    color: #4B6587;
    line-height: 49px;
}


.header__top-btn:hover {
    color: #fff;
    background-color: #4B6587;
    transition: all 0.5s;
    line-height: 49px;
}


/*home 페이지*/
@keyframes bg {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 100%;
    }
}

#home {
    padding-top: 75px;
    background-image: url(../img/bg_home.jpg);
    background-size: cover;
    height: 100vh;
    animation: bg 40s linear infinite;
    justify-content: center;
    align-items: center;
    background-color: #FFF9F0;
    display: flex;
    width: 100%;
}

.home__title {
    font-family: 'Caveat Brush';
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.home__text-parent {
    font-size: 160px;
    display: flex;
    justify-content: flex-start;
}

.home__text--color-blue {
    color: #92b4ec;
}

.home__text--color-yellow {
    color: #FFD24C;
}

.font {
    font-size: 80px;
}

.home__text-sub {
    line-height: 215px;
    color: #fff;
    font-size: 270px;
    text-shadow: 3px 3px 0 #ffd24c, -3px -3px 0 #ffd24c, 3px -3px 0 #ffd24c, -3px 3px 0 #ffd24c;
}

.home__mouse {
    margin-top: 66px;
    width: 30px;
    height: 50px;
    border: 3px solid #FFE69A;
    border-radius: 15px;
    position: relative;
    transform: translateX(-50%);
}

.home__mouse span {
    display: block;
    width: 3px;
    background: #FFE69A;
    height: 13px;
    border-radius: 3px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    animation: mousemove 1s linear alternate infinite;
}

@keyframes mousemove {
    0% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(10px);
    }
}



/*resume 페이지*/


#profile {
    width: 100%;
    margin: 0 auto;
    background-color: #FFF9F0;
    padding-top: 10rem;
}

.profile__box {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: #333333;

    .point_font {
        background: linear-gradient(to top, #ffe680 45%, transparent 20%);
        width: 100%;
    }

    h1 {
        font-size: 4.25rem;
        letter-spacing: -0.02em;
        position: absolute;
        left: 1%;
        top: 3%;
        color: #92b4ec;
    }


    .profile__intro-image {
        width: 400px;
        height: 500px;

        img {
            border-radius: 100px;
            background-image: url(../img/somi.jpg);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .profile__intro-text {
        font-family: 'Cafe24Ssurround';
        font-size: 25px;
        color: #92b4ec;
        margin-top: 2.2rem;
    }


}





.profile__details {
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 46px;
}

.profile__intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transform: translateX(-50px);
}


.profile__skills {
    width: 50%;
    display: flex;
    justify-content: center;
    transform: translateX(50px);
}




.profile__intro,
.profile__skills {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}



.profile__skills-box {
    width: 100%;
    height: 594px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Noto Sans KR', sans-serif;
}

.profile__skills-box-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.profile__skills-box-details {
    width: 100%;
    height: 180px;
    margin-left: 1vw;
    padding: 30px;
    border: 2px solid #92b4ec;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 400;

    .profile__skills-box-description {
        font-size: 22px;
        border-bottom: 1px solid #1B1B1B;
        margin-bottom: 14px;
    }
}

.fa-circle-check:before {
    content: "\f058";
    color: #92B4EC;
    width: 200px;
    font-size: 46px;
}


/*WORKS 페이지*/

#projects {
    background-color: #FFF9F0;
    width: 100%;
    height: auto;
}

.projects__list {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;

    h1 {
        font-size: 4.25rem;
        letter-spacing: -0.02em;
        color: #92b4ec;
    }
}


.project__header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 17rem;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    display: flex;
    justify-content: space-between;
}





.point-font {
    font-family: "Caveat Brush";
    color: #92b4ec;
    font-size: 4.25rem;
    letter-spacing: -0.02em;
    color: #92b4ec;
}


.project__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    p:nth-child(2) {
        font-family: "Noto Sans KR", sans-serif;
        font-style: normal;
        font-weight: normal;

    }

    p:nth-child(4) {
        font-family: "Noto Sans KR", sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #333333;
    }
}


.project__number {
    font-family: 'Caveat Brush';
    color: #92B4EC;
    font-size: 2.188rem;
    letter-spacing: -0.02em;
}


.project__type {
    font-size: 2.188rem;
    letter-spacing: -0.0em;
    z-index: 100;
}


.project__separator {
    position: relative;
    right: 0;
    bottom: 25px;
    width: 196px;
    height: 30px;
    border-radius: 30px;
    background: #FFE69A;
}


.project__name {
    margin-top: -14px;
}


.project__content {
    height: 600px;
    background: #fff;
    border: 15px solid #FFE69A;
    border-radius: 100px;
    margin-top: 2.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


.project__items {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 30px;
}


.project__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__items .project__item--details {
    height: 80%;
    padding-top: 82px;
    padding-right: 46px;
}

.project__description {
    font-size: 20px;
    width: 100%;
}



.project__description--title {
    line-height: 34px;
    color: #333;

    b {
        color: #92B4EC;
    }
}

.project__description--text {
    font-size: 18px;
    padding-top: 5px;

    b {
        color: #92B4EC;
    }
}

.project__actions {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 20px;
    gap: 20px;

}


.project__link:hover {
    background: #92B4EC;
}


.project__button:hover {
    background: #92B4EC;
}


.project__link {
    display: block;
    padding: 10px 30px;
    background: #FFD24C;
    color: #fff;
    border-radius: 20px;
    font-size: 1.25rem;
    margin-right: 10px;
    transition: all 0.3s;
    text-align: center;
}


.project__button {
    display: block;
    padding: 10px 30px;
    background: #FFD24C;
    color: #fff;
    border-radius: 20px;
    font-size: 1.25rem;
    transition: all 0.3s;
    text-align: center;
    border: none;
}

.project__preview {
    width: 75%;
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 40px 0px 0 -25px;
}



.project__image--desktop {

    position: relative;

    img {
        width: 100%;
    }


}

.project__content .project__image--screenshot {

    padding: 3%;


}


#projects .project__content .project__image--screenshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 73%;

    img {
        width: 100%;
        height: 100%;
    }
}


.wor_text_box {
    width: 100%;
    margin: 80px 120px 0 0;
    display: flex;
    flex-direction: column;
}



.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    display: none;
}


.popup__close {
    position: absolute;
    top: 5%;
    left: 95%;
}


.popup__icon {
    font-size: 30px;
    color: #92b4ec;
}


.popup__content {
    display: flex;
    height: 100%;
    width: 100%;
}


.popup__slides,
.popup__details {
    width: 50%;
}


.popup__slides {
    overflow-y: auto;
    height: 100%;
    width: 50%;
    position: relative;

    img {
        width: 100%;
    }
}




.popup__details {
    width: 50%;
    padding: 70px 0 0 50px;
    overflow-y: auto;



    h3 {
        color: #92B4EC;
        font-weight: 700;
        margin-bottom: 10px;
    }

    p {
        color: #333;
        font-weight: 600;
        line-height: 32px;
    }

    span {
        color: #92B4EC;
        font-weight: 700;
    }
}

.popup__title {
    color: #92B4EC;
    font-weight: 600;
    margin-bottom: 10px;
}


.popup__details-skills {
    margin-top: 15px;
}

.popup__colors {
    display: flex;
    width: 50%;
    height: 20px;
    margin: 20px 0 0 0;
    position: relative;
}

.popup__procedure {
    padding-right: 40px;
}

.popup__color--primary {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #92B4EC;
    display: inline-block;
    position: absolute;
}

.popup__color--secondary {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFD24C;
    display: inline-block;
    position: absolute;
    left: 8px;
}


/*resume 페이지*/

#resume {
    background-color: #FFF9F0;
    width: 100%;
    padding-top: 17rem;
}

.resume__container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background: #fff;
    border: 15px solid #FFE69A;
    border-radius: 100px;
}

.resume__container.visible {
    opacity: 1;
}

.resume__container {
    letter-spacing: -0.02em;
    color: #92b4ec;
}


.resume__title {
    padding: 40px;
}

.resume__content {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 4.5em;
    font-family: 'Noto Sans KR', sans-serif;

}


.resume__details {
    width: 50%;
    height: 88.9%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 56px;
}


.resume__subtitle {
    font-size: 30px;
    font-family: 'Cafe24Ssurround';
    color: #92b4ec;
    border-bottom: 4px solid #ffe680;
}


.resume__list {
    height: 319px;
    padding-top: 41px;
    color: #333;
    line-height: 30px;
}


.resume__item {
    margin-bottom: 40px;
    font-size: 17px;
}


.resume__skills {
    width: 50%;
    height: 88.9%;
    display: flex;
    flex-direction: column;
}

.resume__skills-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: 59px;
}

.resume__skill {
    padding: 40px;
}



.resume__skill-title {
    font-size: 30px;
    font-family: 'Cafe24Ssurround';
    color: #92b4ec;
}

.resume__skill-description {
    padding-top: 15px;
    font-size: 17px;
}





.resume__details,
.resume__skills {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 1s ease;
}




.visible {
    opacity: 1;
    transform: translateX(0);
}




/*CONTANT 페이지*/


#contact {
    background-color: #FFF9F0;
    width: 100%;
    height: 900PX;
}

.contact__title {
    text-align: center;
}

.contact__container {
    height: 100%;
    margin: 0 auto;
    padding-top: 88px;
}

.contact__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 140px auto 0;
    font-family: 'Cafe24Ssurround';
    color: #333333;
    line-height: 40px;

    span {
        font-size: 33px;
        color: #92b4ec;
    }
}


.contact__text-detail {
    padding-top: 40px;
    font-size: 1.2rem;
}


.contact__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.contact__link {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
    width: 20%;
    color: #707070;
    font-weight: bold;
}


.contact__link--email {
    margin-bottom: -30px;
}

.contact__link:hover i,
.contact__link:hover span {
    color: #92b4ec;
    cursor: pointer;
}


.contact__arrow {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-top: 50px;
    border-right: 8px solid #ffe680;
    border-bottom: 8px solid #ffe680;
    transform: rotate(45deg);
    position: relative;
    animation: bounce 1s infinite;
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) rotate(45deg);

    }

    50% {
        transform: translateY(-10px) rotate(45deg);

    }
}

.fa-envelope:before {
    content: "\f0e0";
}


.fa-github-square:before,
.fa-square-github:before {
    content: "\f092";
}


.fa-envelope {
    font-size: 55px;
    color: #707070;
    margin-right: 20px;
    display: flex;
}

.fa-square-github {
    font-size: 55px;
    color: #707070;
    margin-right: 20px;
}






::-webkit-scrollbar {
    width: 12px;

}


::-webkit-scrollbar-track {
    background: #f1f1f1;

}


::-webkit-scrollbar-thumb {
    background-color: #92B4EC;

    border-radius: 10px;

    border: 3px solid #f1f1f1;

}


::-webkit-scrollbar-thumb:hover {
    background: #7193D5;

}



.popup .popup__swiper-button-next {
    position: fixed;
    top: 60%;
    left: 46%;
    color: #92B4EC;
    z-index: 10;
}

.popup .popup__swiper-button-prev {
    position: fixed;
    top: 60%;
    left: 1%;
    color: #92B4EC;
    z-index: 10;
}